/*First Box*/
h1{
  text-align: center;
 color: red !important;
 margin-bottom: 60px !important;
 font-size: 55px !important;
 font-weight: bold;
}

.box1{
  position: relative;
  background-color: grey;
  border-color:black;
  width: 100%;
  border-style: solid;
  border-width: medium;
  
  
}
* {
  box-sizing: border-box;
}
section {
  position: relative;
  padding: 20px;
}
.f1 {
  float: right;
  padding: 5px;
  margin: 5px;
  border: 4.5px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: #FFB6C1;
  color: black;
}
.content{
  position: relative;
  clear: right;
  padding: 5px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

/*Second Box*/
.box2{
  position: relative;
  background-color: grey;
  border-color:black;
  width: 100%;
  border-style: solid;
  border-width: medium;
}
section {
  position: relative;
  padding: 20px;
}
.f2 {
  float: right;
  padding: 5px;
  margin: 5px;
  border: 4.5px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: #D91656;
  color: white;
}
.content{
  position: relative;
  clear: right;
  padding: 5px;
}

/*Third box*/

.box3{
  position: relative;
  background-color: grey;
  border-color:black;
  width: 100%;
  border-style: solid;
  border-width: medium;
}
section {
  position: relative;
  padding: 20px;
}
.f3 {
  float: right;
  padding: 5px;
  margin: 5px;
  border: 4.5px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: #FCF596;
  color: black;
}
.content{
  position: relative;
  clear: right;
  padding: 5px;
}


@media (min-width: 746px)  {
  .column-lg-4 {
   float: left;
    width: 33%;
  }}
  @media (min-width: 600px) and (max-width: 746px) {
    .column-md-6 {
      float: left;
      width: 100%;
        
    }}

  
    





/* @media (max-width: 767px) {
  . {
      flex-direction: column;
      align-items: center; 
  }

   */